@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: rgb(79 70 229 / var(900));
  border-bottom: 0.2em solid rgb(79 70 229 ); 
  padding-bottom: 0.5rem;
  font-weight: bold;
}
